# Google Sheets Configuration
GOOGLE_SHEET_ID=
GOOGLE_CREDENTIALS_PATH='data/file.json'

# Discord Configuration
DISCORD_TOKEN=MTIy...EC5g
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1...4/bBPGhE_....MuC-
DISCORD_GUILD_ID=7....2
DISCORD_CHANNEL_ID=7....5

# OpenAI Configuration
OPENAI_API_KEY=sk-proj-QN....YhgA
OPENAI_MODEL=gpt-4o-mini

# apify
APIFY_TOKEN=apify_api_O....J
APIFY_ACTOR_ID=g...T

# Twitter/X API Configuration
X_BEARER_TOKEN=AAA...GQk

# Application Settings
LOG_LEVEL=INFO
MAX_TWEETS_PER_ACCOUNT=10
RATE_LIMIT_DELAY=1.0

ENABLE_SINGLE_ACCOUNT_MODE=true